n8n/workflow.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -192
      ],
      "id": "7509f3d0-8293-4679-8a05-d7b88c39fdbe",
      "name": "Webhook",
      "webhookId": "82fae923-64b7-409a-bbd3-82c36cda209a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b0e8d4fe-4418-48c9-a06d-c3a281644158",
              "name": "chat_id",
              "value": "={{ Number($json[\"body\"][\"message\"][\"chat\"][\"id\"]) }}",
              "type": "number"
            },
            {
              "id": "0d8f715e-f479-47a8-a35b-20063eea9f1e",
              "name": "text",
              "value": "={{$json[\"body\"][\"message\"][\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -192
      ],
      "id": "e0ab5f8d-78ac-4197-9b60-5ad7b9a45315",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3cb1d9b4-8d37-41cd-8036-d72f5cc7225b",
              "leftValue": "={{$json[\"chat_id\"]}}",
              "rightValue": "YOUR_CHAT_ID",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        -192
      ],
      "id": "e9ab9ca0-0e59-4e77-98db-626f16dcf259",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json[\"text\"]}}",
                    "rightValue": "/ligar luz",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e2c7c418-08e1-4909-affc-181a76a7d61d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Home Assistant ON"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "edf57b66-cba6-4166-aa82-e3ec112e82a5",
                    "leftValue": "={{$json[\"text\"]}}",
                    "rightValue": "/desligar luz",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Home Assistant OFF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d31cd974-5e50-40d2-93c3-eb5ca6b61e62",
                    "leftValue": "={{$json[\"text\"]}}",
                    "rightValue": "/status",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Telegram Status"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        -208
      ],
      "id": "e37dabba-8cab-469a-86c7-0201d6809043",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/services/input_boolean/turn_off",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_HOME_ASSISTANT_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"entity_id\": \"input_boolean.led_sala\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -192
      ],
      "id": "b59c6961-8389-4996-9435-780963203a70",
      "name": "HTTP Home Assistent OFF",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://homeassistant:8123/api/services/input_boolean/turn_on",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_HOME_ASSISTANT_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"entity_id\": \"input_boolean.led_sala\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        -384
      ],
      "id": "c3c6d0ac-9136-48b7-93ce-8bc286b32b26",
      "name": "HTTP Home Assistent ON",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "http://homeassistant:8123/api/states/input_boolean.led_sala",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_HOME_ASSISTANT_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        0
      ],
      "id": "023c18fc-8c0e-4f2a-b16e-5a19efd535c6",
      "name": "HTTP Home Assistent Status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botYOUR_TOKEN/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"chat_id\": YOUR_CHAT_ID,\n  \"text\": \"💡 Luz ligada\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -384
      ],
      "id": "31e8c38e-6f1a-4b36-8811-a1810bcab133",
      "name": "HTTP Telegram ON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botYOUR_TOKEN/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"chat_id\": YOUR_CHAT_ID,\n  \"text\": \"💡 Luz desligada\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        -192
      ],
      "id": "e4237ab1-ca8a-4d00-bcb9-203922de5e70",
      "name": "HTTP Telegram OFF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/botYOUR_TOKEN/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": YOUR_CHAT_ID,\n  \"text\": \"Status da luz: {{$json['state']}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        0
      ],
      "id": "0d584991-b214-4fbc-953c-177d1eee6e0e",
      "name": "HTTP Telegram Status"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Home Assistent ON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Home Assistent OFF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Home Assistent Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Home Assistent OFF": {
      "main": [
        [
          {
            "node": "HTTP Telegram OFF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Home Assistent ON": {
      "main": [
        [
          {
            "node": "HTTP Telegram ON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Home Assistent Status": {
      "main": [
        [
          {
            "node": "HTTP Telegram Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9704a455-2bf9-43dc-93b3-fea12bfa56c9",
  "meta": {
    "instanceId": "a7265a18009786a0e3d2a042728719c9bc94a4e961636835e57ee652a877b1d5"
  },
  "id": "ioZbbE2ZndHo8NvG",
  "tags": []
}